/* /*header */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: century;
  }
  
  *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  header {
    width: 100%;
    height: 100px;
    background: #eec9a3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header .logo {
    margin: 0 80px;
    background: white;
    padding: 2em;
    text-align: center;
    border-radius: 50%;
  }
  
  @media (max-width: 900px) {
    header .logo {
      margin: 0 30px;
    }
  }
  
  header .navigation {
    width: 100%;
  }
  
  header .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media (max-width: 900px) {
    header .navbar ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      min-height: 128vh;
      background: #101e24;
    }
  }
  
  header .navbar ul .fa-close {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    color: #fff;
  }
  
  header .navbar ul li {
    list-style: none;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  @media (max-width: 900px) {
    header .navbar ul li:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  
  header .navbar ul li a {
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  header .navbar ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    background: #ff5c1c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  header .navbar ul li a:hover::after {
    width: 100%;
  }
  
  header .navbar ul li a:hover {
    color: #ff5c1c;
  }
  
  header .fas {
    display: none;
  }
  
  header .fas:hover {
    cursor: pointer;
    color: #ff5c1c;
  }
  
  @media (max-width: 900px) {
    header .fas {
      display: block;
      float: right;
      margin-right: 40px;
      font-size: 2rem;
    }
  }
  
  header .Ourchurch-link .our-church-sub {
    position: absolute;
    display: block;
    background: #eec9a3;
    width: 8rem;
    text-align: center;
    line-height: 40px;
    opacity: 80%;
    border: 1px solid #eec9a3;
    display: none;
  }
  
  header .Ourchurch-link .our-church-sub li {
    font-weight: normal;
  }
  
  header .Ourchurch-link .our-church-sub li:hover {
    color: #fff;
  }
  
  header .Ourchurch-link:hover .our-church-sub {
    display: block;
  } 

  .uppermost{
    background-image: url();
    border-width: 100%;
    height: 25px;
}
.uppermost>h2{
    text-align: center;
    font-size: large;
    font-family: century;
    color: #fff;
}

/*css for splited columna*/
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column1{
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 150px; 
  }
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }

  * {
    box-sizing: border-box;
  }
/* topmain section*/
div{
  margin-top: 5px;
  margin-bottom: 5px;
  font: century;
}

.uppermost{
  background-image: url("../dist/images/bg-image.jpg");
  height: 69px;
  max-width: auto;
  margin:auto;
}
.uppermost>h1{
 font: century;
 text-align: center;
 font-size: larger;
 color: white;
 font-weight: 300px;
 padding-top: 25px;
}
h4{
  text-align: justify;
  max-width: auto;
  font-size: 115%;
}

.row:after{
margin:auto;
border: auto;
}

.column{
  padding: 50px;
  padding-bottom:10px ;
  height: 400px;
 
}

.img1 {
  position: relative;
  top: 0.5px;
  left: 8px;
  z-index: 1; 
  width:300px;
  height: 190px;
  }
  .img2 {
  position: relative;
  top: -80px;
  right: -200px;
  z-index: 2;
  width: 200px;
  height:150px;
  }
  .img3 {
  position: relative;
  top: -150px;
  left: 90px;
  z-index: 3;
  width: 200px;
  height: 130px;
  }

.lowersection{
  background-color: #FF5C1C;
  background-image: url("../dist/images/bible.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: auto;
 
}

h1{
  text-align: center;
  font: century;
  color: white;
  font-weight: 20px;
  padding-top: 100px;
  letter-spacing: 5px;
  font-weight: 200%;
  
}

/* middlesection */

.title1{
  height: 69px;
  max-width: auto;
  margin: auto;
  
}

h5{
  text-align: center;
  justify-content: center;
  font: century;
  color: #ff5c1c;
  font-size: large;
  margin:45px;
  font-weight: bolder;
  
}

.paragraph{
  height:45px ;
  max-width: auto;
  
}

h6{
  text-align: center;
  justify-content: center;
  font: century;
  font-size: medium;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 25px;
  
}
.row1:after{
  padding-left: 50px;
  padding-right: 10px;
}
#pic{
  height:200px;
  width: 350px;
  display: flex;
  justify-content: center;
}
#tit1{
  font-weight: bolder;
  font-size: large;
  font: century;
}
#para1{
font-weight: bold;
}

.row2{
padding-left: 50px;
padding-right: 50px; 
width: 100%;
height: 350px;
display: flex;
justify-content: center;
}
#par{
color: white;
text-align: right;
font-size: 30px;
font-family: century;
padding-top: 65px;
margin-right: -5px;
}

#graph{
color: #fff;
text-align: left;
font-size: 30px;
font-family: century;
margin-top: 65px;
margin-left: -5px;
}
#one{
  background-color: #778B0F;
  height: 300px;
  max-width: 100%;
}

#two{
  background-color: #186A93;
  height: 300px;
  max-width: 100%;
}

/* bottom */
.img4{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.para{
  text-align: justify;
  font-family: century;
  font-weight: bold;
  max-width: 63%;
  display: flex;
  margin: 0 auto;
}